* {
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background: rgba(#76c0d5, $alpha: 0);
    color: white;
}

::-moz-selection {
    background: #76c0d5;
    /* Gecko Browsers */
    border-radius: 10px;
}

@font-face {
    font-family: nova;
    src: url(fonts/nova.otf);
}

@font-face {
    font-family: humanist;
    src: url(fonts/Humanist.ttf)
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer !important;
}

body {
    background: linear-gradient(0deg, rgba(236, 241, 245, 1) 0%, rgba(183, 189, 201, 1) 100%);
    font-family: "humanist";
}

button {
    margin: 20px 0;
    backdrop-filter: blur(4px);
    font-family: "humanist";
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 0px 30px;
    padding: 10px 15px;
    background: rgba(white, 0.05);
    cursor: pointer !important;
    transition: 0.3s;

}

button:hover {
    transform: translateY(3px);
    box-shadow: rgba($color: #000000, $alpha: 0.15) 0px 0px 10px;
    transition: 0.3s;
}


@media screen and (min-width: 700px) {
    .nav-active {
        box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 0px 10px inset;
        border-radius: 10px;
        user-select: none;
        pointer-events: none;
    }
    .mobile-nav {
        display: none !important;
    }

    .desktop-hide {
        display: none;
    }

    nav {
        position: fixed;
        z-index: 1000000000;
        height: 110px;
        width: 100%;
        align-content: center;
        transition: 0.3s;
    }

    .scrolled {
        backdrop-filter: blur(4px);
        box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 0px 30px;
        height: 90px;
        transition: 0.3s;
    }

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        height: 100%;
    }

    .nav-logo {
        width: 80%;
        margin-left: 30px;
    }

    .nav-logo a {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        letter-spacing: 0.1em;
    }

    .nav-logo a h1 {
        margin-left: 5%;
        opacity: 0;
        transition: 0.3s;
    }

    .show {
        opacity: 0.8 !important;
        transition: 0.3s;
    }

    .nav-logo a:hover h1 {
        color: rgba($color: #474747, $alpha: 1.0);
        transition: 0.2;
    }

    .nav-links {
        width: 70%;
        text-align: right;
        margin-right: 60px;
        font-family: humanist;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.3em;
        font-weight: 100;
        color: rgba($color: #000000, $alpha: 0.8);
        
    }

    .nav-links a {
        padding: 10px;
        margin: 5px;
        transition: 0.2s;
        &:hover {
            z-index: 1000;
            backdrop-filter: blur(4px);
            box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 0px 10px;
            border-radius: 10px;
            transition: 0.2s;
        }
        &:active {
            box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 0px 10px inset;
            border-radius: 10px;
            transition: 0.2s;

        }
    }



    .nav-logo img {
        border-radius: 100%;
        height: 60px;
    }


    .landing {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .landing-head {
        z-index: 100;
    }

    .headline h1 {
        position: relative;
        color: black;
        z-index: 100;
        opacity: 0.7;
        font-size: 5vw;
        padding-bottom: 10px;
        font-family: nova;
        letter-spacing: 25px;
        font-weight: 100;
        text-align: center;
    }

    .headline {
        z-index: 1000;
        width: 85%;
        padding-bottom: 10px;
        padding: 20px;
        backdrop-filter: blur(4px);
        border-radius: 0px;
        box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 0px 30px;
    }

    .landing-lake-image img {
        height: 60vh;
        width: auto;
        position: relative;
        opacity: 0.9;
    }

    .landing-lake-image {
        position: absolute;
        z-index: 1;
    }

    .home-products {
        margin-top: 10vh;
        width: 100%;
        & p {
            text-align: center !important
        }

        & h2 {
            text-align: center;
            font-size: 3em;
            font-family: nova;
            opacity: 0.7;
            letter-spacing: 0.2em;
        }

        & div {
            text-align: center;

            & h2 {
                font-size: 2em
            }

            & button {
                text-align: center;
            }
        }
    }
    .home-products-title {
        width: 100%;
        text-align: center;
        text-transform:uppercase;
        font-family: nova;
        letter-spacing: 0.2em;
        opacity: 0.7;
    }

    .home-products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: 5%;
    }

    .home-product-card {
        width: 300px;
        margin: 1.5%;
        padding: 15px;
        backdrop-filter: blur(4px);
        border-radius: 15px;
        box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 0px 30px;

        & img {
            object-fit: cover;
            border-radius: 7px;
            width: 100%;
            height: 270px;
        }

        & p {
            font-size: 1.5em;
            padding: 10px 0 0 0;
            font-weight: bold;

            &:last-child {
                font-size: 1em;
                padding: 0;
                opacity: 0.5;
            }
        }
    }
    .contact-container {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
        text-align: center;
    }







    footer {
        width: 100%;    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;
        backdrop-filter: blur(7px);
        border-radius: 15px;
        background-color: rgba(236, 241, 245, 1);
        box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 10px 10px 2px inset;
        border-radius: 0;
        & div {
            opacity: 0.8;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            &:first-child {
                justify-content: flex-start ;
            }
            &:last-child {
                text-align: right;
                justify-content: flex-end;
                font-size: 1.2em
            }
            & img {
                width: 50px;
            }
            & .footer-logo {
                width: 80px;
            }
            & .footer-title {
                padding-left: 5px;
                font-size: 2.5em;
                font-family: nova;
                text-align: left;
                line-height: 0.7em;
            }
            & .footer-icon {
                padding: 5px;
                margin: 10px;
                &:hover {
                    z-index: 1000;
                    backdrop-filter: blur(4px);
                    box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 0px 10px;
                    border-radius: 10px;
                    transition: 0.2s;
                }
                &:active {
                    box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 0px 10px inset;
                }
            }
            & .oblique {
                font-weight: 700;
                transition: 0.1s;
                &:hover {
                    color: #f42a50;
                    transition: 0.1s;
                }
            }
        }
    }


}


@media screen and (max-width: 700px) {
    .desktop-nav {
        display: none
    }

    nav {
        position: fixed;
        z-index: 1000000000;
        height: 90px;
        width: 100%;
        align-content: center;
    }

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        height: 90px;
        width: 100%;
        z-index: 10000000;
        position: relative;
    }

    .nav-logo {
        width: 80%;
    }

    .nav-drop {
        position: absolute;
        z-index: 100000;
        top: 0;
        transform: scale(1.2);
        opacity: 0;
        filter: blur(5px);
        width: 100%;
        height: 100vh;
        background: rgba(black, 0.4);
        backdrop-filter: blur(5px);
        display: flex;
        align-items: center;
        transition: 0.5s;
    }

    .scrolled {
        backdrop-filter: blur(4px);
        box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 0px 30px;
        transition: 0.3s;
    }

    .open {
        opacity: 1 !important;
        filter: blur(0px);
        transform: scale(1);
        transition: 0.5s;
    }

    .nav-links {
        width: 100%;
        height: 50%;
        text-align: center;
        font-family: humanist;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
        font-size: 2em;
        font-weight: 100;
        color: #EEE;
        opacity: 0.8;
    }

    .nav-links a {
        padding: 10px;
        margin: 5px;
        width: 100%;
        z-index: 1000;
    }

    .nav-logo img {
        border-radius: 100%;
        height: 60px;
    }

    .nav-logo a h1 {
        display: none;
    }


    .landing {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .landing-head {
        z-index: 100;
    }

    .headline h1 {
        position: relative;
        font-size: 20vw;
        color: black;
        line-height: 1em;
        z-index: 100;
        opacity: 0.7;
        width: 90%;
        font-family: nova;
        letter-spacing: 5px;
        font-weight: 100;
        text-align: center;
    }

    .headline {
        z-index: 1000;
        backdrop-filter: blur(4px);
        border-radius: 20px;
        box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 0px 30px;
        padding: 10%;
    }

    .landing-lake-image {
        opacity: 0.9;
            width: 100%;
            height: auto;
            transform: rotate(-90deg);
            position: absolute;
            left: 0;
            top: 35%;
        & img {
            width: 100%;
            transform: rotate(-90deg)
        }
    }

    .landing-lake-image {
        z-index: 1;
    }

    .home-products {
        margin-top: 10vh;
        width: 100%;

        & h2 {
            text-align: center;
            font-size: 3em;
            font-family: nova;
            opacity: 0.7;
            letter-spacing: 0.3em;
        }

        & p {
            text-align: center;
        }

        & div {
            text-align: center;

            & h2 {
                font-size: 2em
            }

            & button {
                text-align: center;
            }
        }
    }

    .home-products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: 5%;
    }

    .home-product-card {
        width: 300px;
        margin: 1.5%;
        padding: 15px;
        backdrop-filter: blur(4px);
        border-radius: 15px;
        box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 0px 30px;

        & img {
            object-fit: cover;
            border-radius: 7px;
            width: 100%;
            height: 270px;
        }

        & p {
            font-size: 1.5em;
            padding: 10px 0 0 0;
            font-weight: bold;

            &:last-child {
                font-size: 1em;
                padding: 0;
                opacity: 0.5;
            }
        }
    }
    .contact-container {
        text-align: center;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
        & h1 {
            padding: 15px;
            backdrop-filter: blur(4px);
            border-radius: 15px;
            box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 0px 30px;
        }
        
    }




    footer {
        width: 100%;    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;
        flex-wrap: wrap;
        backdrop-filter: blur(7px);
        border-radius: 15px;
        background-color: rgba(236, 241, 245, 1);
        box-shadow: rgba($color: #000000, $alpha: 0.1) 0px 10px 10px 2px inset;
        border-radius: 0;
        & div {
            opacity: 0.8;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 20px;
            &:last-child {
                font-size: 1.5em;
            }
            & img {
                width: 50px;
            }
            & .footer-logo {
                width: 80px;
            }
            & .footer-title {
                padding-left: 5px;
                font-size: 2.5em;
                font-family: nova;
                text-align: left;
                line-height: 0.7em;
            }
            & .footer-icon {
                padding: 5px;
                margin: 10px;
            }
            & .oblique {
                font-weight: 700;
                transition: 0.1s;
                &:hover {
                    color: #f42a50;
                    transition: 0.1s;
                }
            }
        }
    }


}